* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
}

ol {
  all: unset;
}

li {
  list-style: none;
  transition: var(--base-transition);
}

img {
  vertical-align: top;
  width: 100%;
}

/* 해상도 ~ 479px */
@media all and (max-width: 29.9375rem) {
  * {
    font-size: 0.875rem;
  }

  .d-sm-hidden {
    display: none;
  }
}

/* 480px(break poiont) ~ 767px */
@media all and (min-width: 30rem) and (max-width: 47.9375rem) {
  .d-md-hidden {
    display: none;
  }
}

/* 768px(break poiont) ~ 1023px */
@media all and (min-width: 48rem) and (max-width: 63.9375rem) {
}
